*.suo
*.user
packages/
api/bin/
api/obj/
Mach2WebSearch/bin
Mach2WebSearch/obj
ReactMobile/App_Data
ReactMobile/Build
ReactMobile/bin
ReactMobile/obj
ReactMobile/ClearScript.V8
ReactMobile/node_modules
ReactMobile/Scripts/node_modules
ReactMobile/Scripts/src/js/.module-cache
ReactMobile/Scripts/build/.module-cache
ReactMobile/*.user
ReactMobile/Scripts/Components/ControllerViews/js/.module-cache
ReactMobile/Scripts/Components/ControllerViews/jsx/.module-cache
ReactMobile/Scripts/app.js
*/.sass-cache
ReactMobile/reactExpress/node_modules
ReactMobile/Content/.sass-cache
ReactMobile/Scripts/app.js
ReactMobile/Scripts/Build/
ReactMobile/Content/stylesheets/main.css
ReactMobile/Flux/Components/ControllerViews/js/.module-cache
ReactMobile/Flux/Components/ControllerViews/jsx/.module-cache
ReactMobile/Flux/Build/
._*
ReactMobile/Build/css/main.css

ReactMobile/Build/app.js

ReactMobile/Build/css/main.css

ReactMobile/Build/app.js

Mach1Model/bin/
Mach1Model/obj/
original
\.vs/
