<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="AccountName" value="modelimages" />
    <add key="AccountKey" value="THBn2bFWzfQA2L3b30zVPHVXgWGhaA2Cc03R3ouenL4lfMtS5+oY1KkxRpK6EfVX4QFH7cI3SWIZWnlK9gbfsg==" />
    <add key="Preferences_GET" value="m2.Preferences_GET" />
    <add key="Preferences_POST" value="m2.Preferences_POST" />
    <add key="Preferences_PUT" value="m2.Preferences_PUT" />
    <add key="Preferences_DELETE" value="m2.Preferences_DELETE" />
    <add key="Divisions" value="SELECT DISTINCT divisionShortName FROM Division" />
    <add key="CategoryFilters" value="m2.getEquipmentCategories" />
    <add key="RentalStatus" value="m2.getRentalStatusFilters" />
    <add key="RentalRevenue" value="RentalRevenueByDate" />
    <add key="EquipmentPhotos" value="m2.EquipmentPhotoURLsByEquipmentID" />
    <add key="ModelMonthlyRate" value="m2.GetModelMonthlyRate" />
    <add key="EquipmentSearch" value="m2.EquipmentSearchMobile" />
    <add key="EquipmentAdminSearch" value="dbo.Equipment_Search" />
	  <add key="CustomerPortalUserSelectByGuid" value="dbo.CustomerPortalUser_SelectByGuid" />
	  <add key="CustomerPortalUserResetPassword" value="dbo.CustomerPortalUser_ResetPassword" />
	  <add key="CustomerPortalUserSelectByEmail" value="dbo.CustomerPortalUser_SelectByEmail" />
	  <add key="CustomerPortalUserResetPasswordRequest" value="dbo.CustomerPortalUser_ResetPasswordRequest" />	  
    <add key="GetAllEquipmentOnRentByEmail" value="dbo.CustomerPortalUser_SelectAllEquipmentOnRentByEmail" />	   
	  <add key="MyClients" value="m2.GetMyClients" />
    <add key="CheckifCustomerPortalAccountExist" value="m2.CheckifCustomerPortalAccountExist" />
    <add key="CreateNewCustomerPortalAccount" value="m2.CreateNewCustomerPortalAccount" />
    <add key="GetCustomerIDByEmail" value="m2.GetCustomerIDByEmail" />
    <add key="ContactsCreatedLastMonth" value="m2.ContactsCreatedLastMonth" />
    <add key="UserContacts" value="m2.GetUserContacts" />
    <add key="ModelSerialNumbers" value="m2.GetUniqueModelAndSerialNumbers" />
    <add key="ManufacturerFilters" value="m2.getManufacturerFilters " />
    <add key="ModelFilters" value="m2.getModelFilters" />
    <add key="LocationFilters" value="m2.GetLocationFilters" />
    <add key="ServiceHistory" value="m2.EquipmentServiceHistoryMobile" />
    <add key="ComponentHistory" value="m2.EquipmentComponentHistoryMobile" />
    <add key="EquipmentAttachments" value="m2.GetAttachmentsMobile" />
    <add key="DivisionFilters" value="m2.GetDivisionFilters" />
    <add key="DivisionSaleContact" value="m2.GetSalesContactIDByDivisionIDAndType" />
    <add key="AllFilters" value="m2.GetAllFilters" />
    <add key="MachineBySerial" value="m2.GetMachineBySerialNum" />
    <add key="GetLastCheckInOutDateByEquipmentID" value="m2.GetLastCheckInOutDateByEquipmentID" />
    <add key="MachineRates" value="m2.GetEquipmentRatesTest" />
    <add key="AttachmentTypes" value="m2.getAttachmentTypes" />
    <add key="GetAttachmentCategoriesOrTypes" value="m2.GetAttachmentCategoriesOrTypes" />
    <add key="EquipmentPrices" value="m2.GetAvailableEquipmentPrices" />
    <add key="EquipmentYears" value="m2.GetAvailableEquipmentYears" />
    <add key="YardNames" value="m2.GetYardNames" />
    <add key="ContractDetails" value="m2.getCurrentContractDetails" />
    <add key="AvailableReports" value="m2.getAvailableReports" />
    <add key="ReleaseNotesBySystem" value="m2.GetMostRecentReleaseNotesBySystem" />
    <add key="TransportDetails" value="m2.getCurrentContractTransportationDetails" />
    <add key="CreateEquipmentPictures" value="m2.Picture_Insert" />
    <add key="DeactivateEquipmentPicture" value="m2.Picture_Deactivate" />
    <add key="EquipmentPhotoDirectory" value="\\WB04gal\Images\Inventory\{0}\{1}.jpg" />
    <add key="IssuePhotoDirectory" value="\\WB04gal\Images\Issues\{0}\{1}.jpg" />
    <add key="ContractSignatureDirectory" value="\\WB04gal\FileStorage\ContractFile" />
    <add key="Quotes" value="m2.GetQuotes" />
    <add key="ActiveQuotes" value="m2.GetActiveQuotesByType" />
    <add key="getQuoteByQuoteID" value="m2.GetQuoteByQuoteID" />
    <add key="getQuoteByQuoteHashID" value="m2.GetQuoteByQuoteHashID" />
    <add key="QuoteSendEmailbyDB" value="m2.Quote_UpdateEmail" />
    <add key="GetListofSalesmanforCustomer" value="m2.GetListofSalesmanforCustomer" />
    <add key="GetListofQuoteforCustomer" value="m2.GetListofQuoteforCustomer" />
    <add key="GetListofContractforCustomer" value="m2.GetListofContractforCustomer" />
    <add key="DivisionDetailByDivisionID" value="m2.GetDivisionDetailByDivisionID" />
    <add key="GetAddressByDivisionID" value="m2.GetAddressByDivisionID" />
    <add key="DivisionHierarchy" value="m2.GetDivisionHierarchy" />
    <add key="ContactByEmail" value="m2.GetContactByEmailAddress" />
    <add key="ContactByName" value="m2.GetContactByName" />
    <add key="ContactAccountManagers" value="m2.GetContactAccountManagers" />
    <add key="DivisionBySalesPerson" value="m2.GetDivisionBySalesPersonContactID" />
    <add key="BusinessCodeCategories" value="m2.GetBusinessCodeCategories" />
    <add key="GetEmailGroupsByContactID" value="m2.EmailGroupListByContactIDorNTLogin" />
    <add key="GetOpportunity" value="m2.GetOpportunity" />
    <add key="CreateOpportunity" value="m2.CreateOpportunity" />
    <add key="OpportunityReasons" value="m2.GetLostOpportunityReasons" />
    <add key="OpportunityItemCreate" value="m2.OpportunityItem_Create" />
    <add key="OpportunityCreate" value="m2.Opportunity_Create" />
    <add key="OpportunityAttachmentsOfItemCreate" value="m2.OpportunityAttachmentsOfItem_Create" />
    <add key="OpportunityItemUpdate" value="m2.OpportunityItem_Update" />
    <add key="OpportunityUpdate" value="m2.Opportunity_Update" />
    <add key="OpportunityAttachmentsOfItemUpdate" value="m2.OpportunityAttachmentsOfItem_Update" />
    <add key="OpportunityMetricsByReasonAggregated" value="m2.Opportunities_GetAggregatedReasonsByDivision" />
    <add key="OpportunityMetricsByModelAggregated" value="m2.Opportunities_GetAggregatedModelsByDivision" />
    <add key="DeactiveOpportunity" value="m2.Opportunity_Deactivate" />
    <add key="GetAllOpportunities" value="m2.GetAllOpportunities" />
    <add key="GetTotalRentalRevenue" value="m2.GetTotalRentalRevenue" />
    <add key="GetAllTotalRentalRevenue" value="m2.GetAllTotalRentalRevenue" />
    <add key="UpdateEquipmentListRates" value="m2.UpdateEquipmentListRates" />
    <add key="EquipmentUpdate" value="m2.UpdateEquipment" />
    <add key="GetEquipmentAudit" value="m2.GetEquipmentAudit" />
    <add key="GetEquipmentOwnerHistory" value="m2.GetOwnershipHistoryTable" />
    <add key="GetEquipmentListRateHistory" value="m2.GetEquipmentListRateHistory" />
    <add key="GetEquipmentPriceHistory" value="m2.GetEquipmentPriceHistory" />
    <add key="GetEquipmentListRates" value="m2.GetEquipmentListRates" />
    <add key="GetAllLastRateChangeDates" value="m2.GetAllLastRateChangeDates" />
    <add key="GetAdditionalSalespeople" value="m2.ContractAdditionalSalesperson_GET" />
    <add key="GetAdditionalSalespeopleDelimited" value="m2.ContractAdditionalSalesperson_GETDELIMITED" />
    <add key="InsertAdditionalSalesperson" value="m2.ContractAdditionalSalesperson_INSERT" />
    <add key="DeleteAdditionalSalesperson" value="m2.ContractAdditionalSalesperson_DELETE" />
    <add key="ServiceSearch" value="dbo.Service_Search" />
    <add key="ServiceEquipmentHistoryByWO" value="dbo.Service_EquipmentHistoryByWO" />
    <add key="Service_EquipmentHistoryByWO" value="Rpt.Service_EquipmentHistoryByWO"/>
    <add key="GetCheckoutList" value="m2.GetCheckoutList" />
    <add key="GetDivisionDefaultCurrency" value="m2.Currency_GETDIVISIONDEFAULT" />
    <add key="GetCurrencies" value="m2.Currency_GETALL" />
    <add key="GetEquipmentListPrices" value="m2.GetEquipmentListPrices" />
    <add key="UpdateEquipmentListPrices" value="m2.UpdateEquipmentListPrices" />
    <add key="FixedAssetReport" value="m2.FixedAssetReport" />
    <add key="AttachmentBySerial" value="m2.GetAttachmentBySerialNum" />
    <add key="AttachmentByEquipmentID" value="m2.GetAttachmentByEquipmentID" />
    <add key="GetAttachmentCategoryfromFitsOn" value="m2.GetAttachmentCategoryfromFitsOn" />
    <add key="GetCustomersByContactRelationship" value="m2.GetCustomers" />
    <add key="getDashboardUtilization" value="m2.getDashboardUtilization" />
    <add key="GetIssues" value="m2.GetIssues" />
    <add key="GetIssueByID" value="m2.GetIssueByID" />
    <add key="GetIssueResolutionByIssueID" value="m2.GetIssueResolutionByIssueID" />
    <add key="GetIssueCommentsByLookupIDs" value="m2.GetIssueCommentsByLookupIDs" />
    <add key="GetIssueCommentsByIssueID" value="m2.GetIssueCommentsByIssueID" />
    <add key="GetIssueImagesByLookupIDs" value="m2.GetIssueImagesByLookupIDs" />
    <add key="GetIssueImagesByIssueID" value="m2.GetIssueImagesByIssueID" />
    <add key="GetUserByUserName" value="m2.GetUserByUserName" />
    <add key="CreateIssue" value="m2.CreateIssue" />
    <add key="UpdateIssue" value="m2.UpdateIssue" />
    <add key="SendMessage" value="m2.SendMessage" />
    <add key="CreateIssueTrackUser" value="m2.CreateIssueTrackUser" />
    <add key="CreateIssueComment" value="m2.CreateIssueComment" />
    <add key="CreateIssueImages" value="m2.CreateIssueImages" />
    <add key="DeactivateIssueImage" value="m2.DeactivateIssueImage" />
    <add key="VerifyIssueTrackUser" value="m2.IsIssueTrackUser" />
    <add key="IsUserDeveloper" value="m2.IsUserDeveloper" />
    <add key="AuthKey" value="thisisasupersecretsuperawesomeworldwideauthencryptionkey2017!" />
    <add key="CustomerPortalAuth" value="thisisasupersecret@superawesomeworldwide$authencryptionkey2018!" />
    <add key="CheckContractIDMatchCustomerID" value="m2.CheckContractIDMatchCustomerID" />
    <add key="CheckQuoteIDMatchCustomerID" value="m2.CheckQuoteIDMatchCustomerID" />
    <add key="CheckEmailWhenRequestAccess" value="m2.CheckEmailWhenRequestAccess" />
    <add key="CustomerSearch" value="m2.CustomerSearch" />
    <add key="GetContactIDByCompanyName" value="m2.GetContactIDByCompanyName" />
    <add key="GetCustomerInfoByContactID" value="m2.GetCustomerDetailsByContactID" />
    <add key="GetCustomerAddresses" value="m2.GetCustomerAddresses" />
    <add key="GetCustomerEmails" value="m2.GetCustomerEmails" />
    <add key="GetCustomerPhones" value="m2.GetCustomerPhones" />
    <add key="GetContractQuoteSummary" value="m2.GetCustomerContractQuoteSummary" />
    <add key="UpdateCustomerInfo" value="m2.CustomerUpdate" />
    <add key="CustomerQuoteRequestCreate" value="m2.CustomerQuoteRequest_Create" />
    <add key="CustomerQuoteRequestEquipmentCreate" value="m2.CustomerQuoteRequestEquipment_Create" />
    <add key="ContactIDByUsername" value="m2.GetContactIdByUsername" />
    <add key="GetContactByAccountManager" value="m2.GetContactsByAccountManager" />
    <add key="GetContactRelationshipByContactRelationshipID" value="m2.GetContactRelationshipByContactRelationshipID" />
    <add key="GetContactByContactID" value="m2.GetContactByContactID" />
    <add key="CreateContact" value="m2.Contact_Create" />
    <add key="CreateContactRelationship" value="m2.ContactRelationship_Create" />
    <add key="CreateCompanyCategory" value="m2.ContactCategoryCreate" />
    <add key="GetTermAndCondition" value="m2.GetTermsAndConditionContentByName" />
    <add key="GetContactRelationshipForHubspot" value="m2.GetContactRelationshipForHubspot" />
    <add key="CreateBCCategory" value="m2.BusinessCodeContactRelationshipCreate" />
    <add key="CreateAddress" value="m2.Address_Create" />
    <add key="CreateContactAddressRelationship" value="m2.ContactAddressRelationship_Create" />
    <add key="getQuoteDetailsByQuoteID" value="m2.GetQuoteDetailsByQuoteID" />
    <add key="QuoteDetailExtensionByQuoteDetailID" value="m2.GetQuoteDetailExtensionByQuoteDetailID" />
    <add key="OpportunityAttachmentsOfItemSelect" value="m2.OpportunityAttachmentsOfItem_Select" />
    <add key="GetListofInvoiceXMLforCustomer" value="m2.GetListofInvoiceXMLforCustomer" />
    <add key="GetInvoiceDetailForCustomer" value="m2.GetInvoiceDetailForCustomer" />
    <add key="OpportunitySelect" value="m2.Opportunity_Select" />
    <add key="OpportunityItemSelect" value="m2.OpportunityItem_Select" />
    <add key="DeactiveOpportunityItem" value="m2.OpportunityItem_Deactivate" />
    <add key="DeactiveOpportunityAttachmentofItem" value="m2.OpportunityAttachmentsOfItem_Deactivate" />
    <add key="getEquipmentByEquipmentID" value="m2.GetEquipmentByEquipmentID" />
    <add key="getAddressByContactID" value="m2.GetAddressByContactID" />
    <add key="ShipmentQuotesRequestbyCustomer_Create" value="m2.ShipmentQuotesRequestbyCustomer_Create" />
    <add key="getShipmentQuotesByQuoteIDForCustomer" value="m2.GetShipmentQuotesByQuoteIDForCustomer" />
    <add key="getShipmentQuotesInventoryByShipmentQuotesIDForCustomer" value="m2.GetShipmentQuotesInventoryByShipmentQuotesIDForCustomer" />
    <add key="CreateQuote" value="m2.QuoteRental_Create" />
    <add key="CreateSalesQuote" value="m2.QuoteSales_Create" />
    <add key="CreateQuoteDetail" value="m2.QuoteDetail_Create" />
    <add key="CreateQuoteDetailExtension" value="m2.QuoteDetailExtension_Create" />
    <add key="CustomerAcceptQuote" value="m2.CustomerAcceptQuote" />
    <add key="MobileIssueEmailDistributionList" value="it@wwmach.com" />
    <add key="QuoteSearch" value="m2.Quote_Search" />
    <add key="GetEmailGroupList" value="m2.GetEmailGroupList" />
    <add key="CreateEmailPreference" value="m2.EmailPreference_Create" />
    <add key="GetEmailPreferenceInfo" value="m2.EmailPreference_Get" />
    <add key="DeactiveEmailPreference" value="m2.EmailPreference_Deactive" />
    <add key="EditEmailPreference" value="m2.EmailPreference_Edit" />
    <add key="MakeDefaultmailPreference" value="m2.EmailPreference_MakeDefault" />
    <add key="CreatePreference" value="m2.Preference_Create" />
    <add key="GetPreferenceInfo" value="m2.Preference_Get" />
    <add key="DeactivePreference" value="m2.Preference_Deactive" />
    <add key="EditPreference" value="m2.Preference_Edit" />
    <add key="MakeDefaultPreference" value="m2.Preference_MakeDefault" />
    <add key="GetContactDetails" value="m2.CustomerUpdate" />
    <add key="ContactUpdate" value="m2.UpdateContact" />
    <add key="GetModelCategoryByModelNum" value="m2.GetModelCategoryByModelNum" />
    <add key="GetTotalRevenueByDivision" value="rpt.Revenue_Total_GetWRSDivisions" />
    <add key="GetMonthlyRevenueByDivision" value="rpt.Revenue_Monthly_GetByDivision" />
    <add key="GetTotalRevenueBySalesperson" value="rpt.Revenue_Total_GetSalespeople" />
    <add key="GetSalespeople" value="m2.Salespeople_GET" />
    <add key="GetSalesManager" value="m2.SaleManager_GET" />
    <add key="GetCoordinator" value="m2.GetRentalCoordinatorList" />
    <add key="GetMonthlyRevenueBySalesperson" value="rpt.Revenue_Monthly_GetBySalesperson" />
    <add key="LoginUserDuration" value="m2.fn_User_GetLoginDuration" />
    <add key="AdminGridMetrics" value="rpt.Equipment_BI_Metrics_GET" />
    <add key="SaveAdminGridProjections" value="rpt.Equipment_Projections_INSERT" />
    <add key="MachineInfoByModel" value="m2.GetMachineInfoByModelNum" />
    <add key="GetServiceHistoryReport" value="Service_Search_Rev" />
    <add key="GetWorkOrderReport" value="Service_EquipmentHistoryByWO" />
    <add key="AllReleaseNotes" value="m2.GetAllReleaseNotes" />
    <add key="ContractDtls" value="m2.getContractDetails" />
    <add key="Public_GetCategoryFilters" value="pub.GetCategoryFilters" />
    <add key="Public_GetMakeFilters" value="pub.GetManufacturerFilters" />
    <add key="Public_GetModelFilters" value="pub.GetModelFilters" />
    <add key="Public_HideFilters" value="pub.HideFilters" />
    <add key="Public_ShowFilters" value="pub.ShowFilters" />
    <add key="Public_MachinesForSale" value="pub.GetPublicEquipmentForSale" />
    <add key="CNBV" value="rpt.GetCurrentCNBV" />
    <add key="UpdateModelListRates" value="m2.UpdateModelListRates" />
    <add key="GetModelListRates" value="m2.GetModelListRates" />
    <add key="GetModelAdditionalFields" value="m2.GetModelAdditionalFields" />
    <add key="UpdateModelAdditionalFields" value="m2.UpdateModelAdditionalFields" />
    <add key="GetModelFields" value="m2.GetModelFields" />
    <add key="GetModelFieldsByEquipmentID" value="m2.GetModelFieldsByEquipmentID" />
    <add key="getCategroyTypeByProductCategoryID" value="m2.GetCategroyTypeByProductCategoryID" />
    <add key="GetModelData" value="m2.GetModelData" />
    <add key="GetModelDetail" value="m2.GetModelDetail" />
    <add key="GetModelSpecsByInventoryMasterID" value="m2.GetModelSpecsByInventoryMasterID" />
    <add key="GetModelPhotosByInventoryMasterID" value="m2.GetModelPhotosByInventoryMasterID" />
    <add key="GetCategoryImagesByProductCategoryID" value="m2.GetCategoryImagesByProductCategoryID" />
    <add key="GetModelFilesByInventoryMasterID" value="m2.GetModelFilesByInventoryMasterID" />
    <add key="GetModelCompetitorsByInventoryMasterID" value="m2.GetModelCompetitorsByInventoryMasterID" />
    <add key="ModelsInventoryMasterCreate" value="m2.ModelsInventoryMaster_Create" />
    <add key="RentalReservationPhotosCreate" value="m2.RentalReservationPhotos_Create" />
    <add key="RentalReservationFilesCreate" value="m2.RentalReservationFiles_Create" />
    <add key="RentalReservationPhotosDeactivate" value="m2.RentalReservationPhotos_Deactivate" />
    <add key="RentalReservationPhotosUpdate" value="m2.RentalReservationPhotos_Update" />
    <add key="RentalReservationFilesDeactivate" value="m2.RentalReservationFiles_Deactivate" />
    <add key="GetRentalReservationPhotosByRRGID" value="m2.GetRentalReservationPhotosByRRGID" />
    <add key="GetRentalReservationFilesByRRGID" value="m2.GetRentalReservationFilesByRRGID" />
    <add key="ModelsSpecCreate" value="m2.ModelsSpec_Create" />
    <add key="ModelsFilesCreate" value="m2.ModelsFiles_Create" />
    <add key="ModelsPhotosCreate" value="m2.ModelsPhotos_Create" />
    <add key="ModelsCreate" value="m2.Models_Create" />
    <add key="ModelsCompetitorCreate" value="m2.ModelsCompetitor_Create" />
    <add key="ModelsInventoryMasterUpdate" value="m2.ModelsInventoryMaster_Update" />
    <add key="ModelsPhotosUpdate" value="m2.ModelsPhotos_Update" />
    <add key="ModelsFilesDeactivate" value="m2.ModelsFiles_Deactivate" />
    <add key="ModelsPhotosDeactivate" value="m2.ModelsPhotos_Deactivate" />
    <add key="ModelsSpecDeactivate" value="m2.ModelsSpec_Deactivate" />
    <add key="ModelsSpecUpdate" value="m2.ModelsSpec_Update" />
    <add key="ModelsUpdate" value="m2.Models_Update" />
    <add key="ContractJobSheetSave" value="m2.ContractJobSheet_Save" />
    <add key="ContractJobSheetView" value="m2.ContractJobSheet_View" />
    <add key="ProductCategoryCreate" value="m2.ProductCategory_Create" />
    <add key="CategoryImagesCreate" value="m2.CategoryImages_Create" />
    <add key="CategoryImagesUpdate" value="m2.CategoryImages_Update" />
    <add key="CategoryImagesDeactivate" value="m2.CategoryImages_Deactivate" />
    <add key="ProductCategoryDetailCreate" value="m2.ProductCategoryDetail_Create" />
    <add key="ProductCategoryDetailUpdate" value="m2.ProductCategoryDetail_Update" />
    <add key="ProductCategoryDetailView" value="m2.ProductCategoryDetail_View" />
    <add key="WebsitesCategory" value="pub.WebsitesCategory" />
    <add key="ManufacturerCreate" value="m2.Manufacturer_Create" />
    <add key="Industry_Get" value="rental.Industry_Get" />
    <add key="CategoryIndustries" value="rental.CategoryIndustries" />
    <add key="ModelRelatedCategories" value="rental.ModelRelatedCategories" />
    <add key="ModelsList" value="m2.Models_List" />
    <add key="CategoryGridList" value="m2.CategoryGrid_List" />
    <add key="RentalReservationGroupList" value="m2.RentalReservationGroup_List" />
    <add key="RentalReservationGroupCreate" value="m2.RentalReservationGroup_Create" />
    <add key="RentalReservationGroupUpdate" value="m2.RentalReservationGroup_Update" />
    <add key="RentalReservationGroupSelect" value="m2.RentalReservationGroup_Select" />
    <add key="RentalReservationGrouponModel" value="m2.RentalReservationGroup_onModel" />
    <add key="RentalReservationGroupView" value="m2.RentalReservationGroup_View" />
    <add key="RentalReservationGroupDetailCreate" value="m2.RentalReservationGroupDetail_Create" />
    <add key="RentalReservationGroupDetailUpdate" value="m2.RentalReservationGroupDetail_Update" />
    <add key="RentalReservationGroupDetailDeactivate" value="m2.RentalReservationGroupDetail_Deactivate" />
    <add key="RentalReservationGroupDetailSelect" value="m2.RentalReservationGroupDetail_Select" />
    <add key="GetModelIDByModelNum" value="m2.GetModelIDByModelNum" />
    <add key="ModelsCompetitorUpdate" value="m2.ModelsCompetitor_Update" />
    <add key="ModelsCompetitorDeactivate" value="m2.ModelsCompetitor_Deactivate" />
    <add key="GetContractByContractID" value="m2.GetContractByContractID" />
    <add key="GetContractByContractNum" value="m2.GetContractByContractNum" />
    <add key="GetAddressByAddressID" value="m2.GetAddressByAddressID" />
    <add key="GetContractDetailByContractID" value="m2.GetContractDetailByContractID" />
    <add key="GetContractDetailAttachmentByContractDtlID" value="m2.GetContractDetailAttachmentByContractDtlID" />
    <add key="GetServiceByContractDtlID" value="m2.GetServiceByContractDtlID" />
    <add key="GetShipmentInvetoryByContractDtlID" value="m2.GetShipmentInvetoryByContractDtlID" />
    <add key="ContractSignatureCreate" value="m2.ContractSignatureCreate" />
    <add key="GetContractSignatureByContractID" value="m2.GetContractSignatureByContractID" />
    <add key="GetEquipmentDetailOnCustomerContract" value="m2.GetEquipmentDetailOnCustomerContract" />
    <add key="RentalReservationGroupModelList" value="m2.RentalReservationGroupModel_List" />
    <add key="RentalReservation_List" value="m2.RentalReservation_List" />
    <add key="ForSaleListMobile" value="m2.GetForSaleListMobile" />
    <add key="ForSaleListMobile_Price" value="m2.GetForSaleListMobile_PriceSelector" />
    <add key="ForSaleListMobileProductCategory" value="m2.GetForSaleListProductCategory" />
    <add key="GetContractDetailAttachmentNameByContractDtlID" value="m2.GetContractDetailAttachmentNameByContractDtlID" />
    <add key="ForsaleList_Update" value="m2.ForsaleList_UpdatePreference" />
    <add key="UpdatePortalLoginDate" value="m2.CustomerPortalUser_LoginDate" />
    <add key="PortalDashMetrics" value="m2.GetPortalDashboardMetrics" />
    <add key="LatestQuotes" value="m2.GetLatestQuotes" />
    <add key="PortalAccessRequestObject" value="m2.PortalAccessRequest" />
    <add key="GetPortalAccessRequest" value="m2.GetPortalAccessRequest" />
    <add key="GetTransportRequest" value="m2.GetTransportationRequest" />
    <add key="GetInvoice" value="m2.GetOutstandingInvoices" />
    <add key="GetReportTrackingSequence" value="m2.SequenceTracking" />
    <add key="GetPendinContracts" value="m2.GetAllPendingContractPortalDash" />
    <add key="GetAllQuotes" value="m2.GetPortalQuotes" />
    <add key="GetInsuranceStatus" value="m2.GetInsuranceAndCreditStatus" />
    <add key="DeleteQaRecords" value="m2.DeleteQARecords" />
    <add key="HubspotWebhooks" value="m2.HubspotWebhooks_Create" />
    <add key="HubspotKey" value="a78d4335-727f-46a4-b616-5b657d82edc1" />
    <add key="HubspotHapiKey" value="87e13bd2-2df0-44e3-b501-45f0066af851" />
    <add key="HubspotBaseURL" value="https://api.hubapi.com/" />
    <add key="GetAllDealStageValue"  value="hubspot.GetAllDealStageValue" /> 
    <add key="LDAP" value="LDAP://wwm-gal-dc.corp.wwmach.com" />
    <add key="LDAPEmail" value="svc.ldap@wwmach.com" />
    <add key="LDAPPassword" value="wwm323311x" />
    <add key="PublicSiteBaseURL" value="https://test.wwmach.com" />
    <add key="GpTaxSchedules" value="m2.GetGpTaxSchedules" />
    <add key="GetHubspotEmailByContactId" value="m2.HubspotEmail_GetByContactID" />
    <add key="GetQuoteNumberByQuoteID" value="m2.GetQuoteNumberByQuoteID" />
    <add key="GetAllAllAssociatedHubspotDealIds" value="m2.GetAllAllAssociatedHubspotDealIds" />
    <add key="GetAllAssociatedHubspotDealIdsForContract" value="m2.GetAllAssociatedHubspotDealIdsForContract" />
    <add key="ModelSpec_List" value="rental.ModelSpec_List" />
    <add key="Model_Select" value="rental.Model_Select" />
    <add key="Model_List" value="rental.Model_List" />
    <add key="Category_List" value="rental.Category_List" />
    <add key="CategoryImage_InsertUrl" value="rental.CategoryImage_InsertUrl" />
    <add key="ModelGroupImage_InsertUrl" value="rental.ModelGroupImage_InsertUrl" />
    <add key="CustomerPortalUrl" value="https://qa.customers.wwmach.com/" />
    <add key="SelectPDFKey" value=""/>
    
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5" debug="true" />
    <httpRuntime targetFramework="4.5" executionTimeout="300" />
  </system.web>
  <connectionStrings>
    <add name="mach1" connectionString="server=localhost; database=Mach1; Trusted_Connection=True; MultipleActiveResultSets=True; " />
    <add name="issuetrack" connectionString="server=localhost; database=IssueTrack; Trusted_Connection=True; MultipleActiveResultSets=True; " />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <modules>
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <remove name="WebDAV" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>