<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

    <connectionStrings>
      <add name="mach1"
        connectionString="server=L3SQL01; database=Mach1;user id=svcM2; password=wwm323311X; MultipleActiveResultSets=True;"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <add name="issuetrack"
        connectionString="server=L3SQL01; database=IssueTrack;user id=svcM2; password=wwm323311X; MultipleActiveResultSets=True;"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>

  <appSettings>
    <add key="EquipmentPhotoDirectory" value="\\wb02l3\Images\Inventory\{0}\{1}.jpg" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="IssuePhotoDirectory" value="\\wb02l3\Images\Issues\{0}\{1}.jpg" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AuthKey" value="thisisasupersecretsuperawesomeworldwideauthencryptionkey2017" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ContractSignatureDirectory" value="\\wb02l3\FileStorage\ContractFile" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="HubspotBaseURL" value="https://api.hubapi.com/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="HubspotHapiKey" value="584eff96-8a5a-46a6-b15b-11f916e88723" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="LDAP" value="LDAP://CORP.WWMACH.COM" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="PublicSiteBaseURL" value="https://wwmach.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="CustomerPortalUrl" value="https://customers.wwmach.com/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SelectPDFKey" value="pY6UhZeQlIWQloWXlYuVhZaUi5SXi5ycnJw=" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    </appSettings>

    <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />

  </system.web>
</configuration>