<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

    <connectionStrings>
      <add name="mach1"
        connectionString="server=galsql01; database=Mach1;user id=sa; password=The Great One!; MultipleActiveResultSets=True;"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <add name="issuetrack"
        connectionString="server=galsql01; database=IssueTrack;user id=sa; password=The Great One!; MultipleActiveResultSets=True;"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>

  <appSettings>
    <add key="EquipmentPhotoDirectory" value="\\WB04gal\Images\Inventory\{0}\{1}.jpg" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="IssuePhotoDirectory" value="\\WB04gal\Images\Issues\{0}\{1}.jpg" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AuthKey" value="thisisasupersecretsuperawesomeworldwidestagingauthencryptionkey" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ContractSignatureDirectory" value="\\WB04gal\FileStorage\ContractFile" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="HubspotBaseURL" value="https://api.hubapi.com/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="HubspotHapiKey" value="87e13bd2-2df0-44e3-b501-45f0066af851" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="LDAP" value="LDAP://wwm-gal-dc.corp.wwmach.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="PublicSiteBaseURL" value="https://test.wwmach.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

    <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />

  </system.web>
</configuration>